@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Quicksand&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.contact {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: bold;
}
.strong {
  font-weight: 900;
  font-size: 2.5rem;
  font-family: "Tilt Neon", cursive;
  color: rgb(192, 192, 192);
}
.email {
  color: gray;
  font-family: "Tilt Neon", cursive;
  font-size: 1.5rem;
}
.email1{
    color: gray;
    font-family: "Tilt Neon", cursive;
    font-size: 1.2rem;
  }
.call {
  color: gray;
  font-family: "Tilt Neon", cursive;
  font-size: 1.5rem;
}
.call1 {
    color: gray;
    font-family: "Tilt Neon", cursive;
    font-size: 1.1rem;
  }
.co {
  background-color: rgb(228, 228, 228);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.452) 0px 14px 28px,
    rgba(0, 0, 0, 0.507) 0px 10px 10px;
  width: 100%;
  height: 96%;
}
.form {
  width: 30rem;
  height: 3rem;
  /* border: 1px solid rgb(173, 172, 172); */
  /* border-radius: 0.4rem; */
}
input {
  background-color: rgba(255, 255, 255, 0);
  padding-left: 1rem;
  border-bottom: 1px solid black;
}
::placeholder {
  font-family: "Tilt Neon", cursive;
}
.tex {
  border: 1px solid rgb(173, 172, 172);
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, 0);
}

textarea {
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.button {
  width: 10rem;
  height: 3rem;
  background-color: rgb(31, 31, 31);
  border-radius: 0.5rem;
}
.iga {
  opacity: 0.12;
}
.p {
  font-size: 1rem;
  display: flex;
  padding: 0.8rem 0;
  align-items: center;
  justify-content: center;
}
